.university-announcement-component-conatainer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px auto;

    flex-direction: column;
}
.university-announcement-component-container-inside {
    width: 100%;
    max-width: 1100px;
   
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.announcement-card{
    margin: 10px;
   
    background-color: rgb(0, 255, 213);
    width: 45%;

    padding: 10px;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}